<img src="images/logo.jpg" alt="" class="logo"/>

<nav>
  <ul class="">
    <li><a href="/" class="menu">Home</a></li>
    <li><a href="/about" class="menu">About</a></li>
    <li><a href="/shop/new" class="menu">Shop</a></li>
    <li><a href="/blog" class="menu">Blog</a></li>
    <% if !logged_in? %>
    <li><a href="/sign_up" class="menu">Sign up</a></li>
    <li><a href="/login" class="menu">Login</a></li>
    <% end %>
    <% if logged_in? %>
    <li><a href="/logout" class="menu">Logout</a></li>
    <% end %>
  </ul>
</nav>

<h3>Checkout</h3>
<form class="users" action="payment">
<label for="">Name:</label>
<input type="text" name="name">

<label for="">Card Number:</label>
<input type="integer" name="card_number">

<label for="">Card Expiry:</label>
<input type="integer" name="card_expiry">

<label for="">Card CVV:</label>
<input type="integer" name="card_cvv">
</form>