<h1>Ciclo Closet</h1>
<a href="/sign_up">Sign up</a>

<% if !logged_in? %>
    <a href="/login">Login</a>
<% end %>

<a href="/shop/new">Shop</a>
<a href="">Blog</a>

<% if logged_in? %>
  <h3>Welcome to Ciclo Closet <%= current_user()['first_name'] %></h3>

  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Logout</button>
  </form>
<% end %>



